{% extends "base.html" %}

{% block script %}
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}

{% block title %}
	Dashboard
{% endblock %}

{% block content %}
    <div class="conteiner mt-5">
        <h2>Bem vindo, {{ session['usuario']['nome'] }}</h2>

        {% if session ['usuario']['papel'] == 'admin '%}
            <h3>Painel do Administrador</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-hearder bg-dark text-white">Gerenciar Usuarios</div>
                        <div class="card-body">
                            <p>Manter Usuarios</p>
                            <a href="{{ url_for('gerenciar_usuarios') }}"
                               class="btn btn-primary">Gerenciar Usuario</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>
{% endblock %}

